[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"django-extensions" = "*"
"django-pdb" = "*"
werkzeug = "*"
"pytest-django" = "*"
ipython = "*"
yapf = "*"
futures = "*"

[packages]
wagtail = ">=1.12,<2"
"psycopg2" = "*"
"django-modelcluster" = "*"
"django-taggit" = "*"
"html5lib" = "*"
"django-libsass" = "*"
libsass = "*"
raven = "*"
gunicorn = ">19"
django = ">=1.11,<2"
"django-compressor" = "*"
pillow = "*"
wand = "*"
