{% extends "_base.html" %}
{% load static compress wagtailimages_tags pagination %}

{% block extra_css %}
  {% compress css inline %}
    <link rel="stylesheet" type="text/stylus" href="{% static 'styles/images.styl' %}"/>
  {% endcompress %}
{% endblock %}

{% block body_class %}template-images{% endblock %}

{% block title %}images{% endblock %}

{% block content %}
  {% if images %}
    <div class="content images">
      {% for img in images %}
        <a class="image is-primary is-medium" href="{% url 'show_image' img.id %}">
          <figure class="gallery-image">
            {% image img original as orig_img %}
            {% image img width-300 as thumb %}
            <img {{ thumb.attrs }} />
            {% if img.caption %}
              <figcaption>{{ img.caption  }}</figcaption>
            {% endif %}
          </figure>
        </a>
      {% endfor %}
    </div>

    {% pagination images %}
  {% elif image %} No image found! {% endif %}
{% endblock %}

