{% extends "_base.html" %}
{% load static compress wagtailimages_tags %}

{% block extra_css %}
  {% compress css inline %}
    <link rel="stylesheet" type="text/stylus" href="{% static 'styles/image.styl' %}"/>
  {% endcompress %}
{% endblock %}

{% block body_class %}template-images{% endblock %}

{% block title %}images{% endblock %}

{% block content %}
  <div class="columns">
    <section class="image-container column is-two-thirds">
      <figure class="image">
        {% image img original as orig_img %}
        <img {{ orig_img.attrs }} />
        {% if img.caption %}
          <figcaption>{{ img.caption }}</figcaption>
        {% endif %}
      </figure>
    </section>
    <section class="right column is-one-third">
      <div class="tags">
        {% for tag in img.tags.all %}
        <span class="tag is-primary is-medium">
          <i class="fa fa-tags"></i>
          <a href="{% url 'tagged_figures' tag.id %}">{{ tag.name }}</a>
        </span>
        {% endfor %}
      </div>
      <div class="comment" id="disqus_thread">
        <h4>Loading comments...</h4>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  {% if not debug %}
    <script type="text/javascript" src="//kxxoling-charcoal.disqus.com/embed.js"></script>
  {% endif %}
{% endblock %}

