<section class="header hero is-primary is-bold">
  <div class="hero-head">
    <nav class="primary-nav nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <!--<a class="nav-item">-->
            <!--<img src="" alt="logo">-->
          <!--</a>-->
          <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
          <a class="nav-item is-tab is-hidden-mobile">Articles</a>
          <a class="nav-item is-tab is-hidden-mobile">Galleries</a>
          <a class="nav-item is-tab is-hidden-mobile">Videos</a>
        </div>

        <div class="nav-right nav-menu">
          <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
          <a class="nav-item is-tab is-hidden-tablet">Features</a>
          <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
          <a class="nav-item is-tab is-hidden-tablet">About</a>
          <span class="nav-item is-tab">
        <form class="control has-icon">
          <input class="input is-midium" type="text" placeholder="Search">
          <span class="icon is-small">
            <i type="submit" class="fa fa-search"></i>
          </span>
        </form>
      </span>
          <a class="nav-item is-tab">Log out</a>
        </div>
      </div>
    </nav>

  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Another site.
      </h1>
      <h2 class="subtitle">
        whatever......
      </h2>
    </div>
  </div>

  <div class="hero-foot level">
    <div class="level-left"></div>
    <nav class="tabs level-right">
      <div class="container title is-3">
        <ul>
          <li>
            <a target="_blank" href="//blog.windrunner.me">
              <i class="fa fa-book"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="//github.com/kxxoling">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="//github.com/kxxoling/charcoal/">
              <i class="fa fa-code-fork"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
