<section class="header hero is-primary is-bold">
  <div class="hero-head">
    <nav class="navbar primary-nav has-shadow" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-start">
          <a class="navbar-item is-tab is-hidden-mobile nav-home" href="/">Home</a>
          <a class="navbar-item is-tab is-hidden-mobile nav-articles" href="/a/">Articles</a>
          <a class="navbar-item is-tab is-hidden-mobile nav-galleries" href="/g/">Galleries</a>
          <a class="navbar-item is-tab is-hidden-mobile nav-videos" href="/v/">Videos</a>
          <a class="navbar-item is-tab is-hidden-mobile nav-links" href="/l/">Shared Links</a>
          <a class="navbar-item is-tab is-hidden-mobile nav-tags" href="{% url 'tags' %}">Tags</a>
          <a class="navbar-item is-tab is-hidden-mobile nav-images" href="{% url 'images' %}">Figures</a>
        </div>

        <div class="navbar-end nav-menu">
          <span class="navbar-item">
            <form class="control has-icon" action="/search">
              <input class="input is-midium" type="text" placeholder="Search" name="s">
              <span class="icon is-small">
                <i type="submit" class="fa fa-search"></i>
              </span>
            </form>
          </span>
          <a class="navbar-item is-tab is-active" href="/admin/">
          {% if user.is_authenticated %}
            Admin
          {% else %}
            Login
          {% endif %}
          </a>
        </div>
      </div>
    </nav>

  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Another site.
      </h1>
      <h2 class="subtitle">
        whatever......
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="container level">
      <div class="level-left"></div>
      <ul class="level-right title is-3">
        <li class="level-item">
          <a target="_blank" href="//blog.windrunner.me">
            <i class="fa fa-book"></i>
          </a>
        </li>
        <li class="level-item">
          <a target="_blank" href="//github.com/kxxoling">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="level-item">
          <a target="_blank" href="//github.com/kxxoling/charcoal/">
            <i class="fa fa-code-fork"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
