{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>{{ posts.paginator.count }}</strong> posts found!
          </p>
        </div>
      </div>
      <div class="level-left">
        <div class="level-item">
          <form class="control has-addons" action="/search/">
            <input class="input" type="text" name="s"{% if search_query %} value="{{ search_query | safe }}"{% endif %}>
            <input type="submit" value="Search" class="button">
          </form>
        </div>
      </div>
    </nav>

    {% if posts %}
      {% include 'posts/_post_list.html' with posts=posts %}
    {% else %}
      No results found
    {% endif %}
{% endblock %}
