{% extends "_base.html" %}
{% load static wagtailcore_tags compress pagination %}

{% block body_class %}template-tags{% endblock %}
{% block extra_css %}
  {% compress css inline %}
    <link rel="stylesheet" type="text/stylus" href="{% static 'styles/tags.styl' %}"/>
  {% endcompress %}
{% endblock %}

{% block title %}Tags{% endblock %}

{% block content %}
  {% if tags %}
    <div class="content">
      <p>
        {% for tag in tags %}
          <a class="tag is-primary is-medium" href="{% url 'tagged_figures' tag.id %}" title="{{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}
      </p>
    </div>

    {% pagination tags %}
  {% else %} No tag found! {% endif %}
{% endblock %}

