{% extends "_base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-tags{% endblock %}

{% block title %}Tags{% endblock %}

{% block content %}
  {% if tags %}
    <div class="content">
      <p>
        {% for tag in tags %}
          <a class="tag is-primary is-medium" href="{% url 'tagged_figures' tag.id %}">{{ tag }}</a>
        {% endfor %}
      </p>
    </div>

    {% include '_pagination.html' with page=tags %}
  {% else %} No tag found! {% endif %}
{% endblock %}

