.primary-nav

  width 100%
  background rgba(0,190, 160, 0.8)

  .nav-item.is-tab
    color #f0f0f0f0

    &.is-active
      color white

.control.has-icon .icon
  color #dbdbdb
  pointer-events none
  position absolute
  top 0.5rem
  left 0.5rem
  z-index 4

.tag a
  text-decoration none
  border none !important
  color inherit !important

.gallery-image a
  border none !important

.header
  margin-bottom 40px

.footer
  .content
    a
      border none

.responsive-object
  padding 0 !important
  display flex
  justify-content center

