.template-images
  .right
    background-color white
    max-height 100%

  .tags
    margin 0.5rem 0
  .tag
    height 2rem

.image-container
  padding 0
  margin-right 1rem

  .link
    display none
    position absolute
    font-size 2rem
    line-height 2rem

  &:hover .link
    display block

.external-link.link
  right 1rem
  bottom 1rem

.admin-link.link
  right 1rem
  top 1rem

