.template-tagged-figures
  .section.content
    padding 2rem

  .tag-container
    margin-bottom 1rem

    .tag.is-large
      height 2.4rem
    .edit
      font-size 1.4rem
      vertical-align bottom

.tagged-figures
  line-height 0
  column-count 3
  column-gap 0

  .gallery-image
    text-align center
    display inline-block
    width 100%
    height auto
    margin-bottom 1rem

