.gallery-image
  width 100%
  text-align center

.content
  .title
    font-size 3.2em
    a
      text-decoration none
      border none

      &:visited
        color #40d9bc
    &:hover
      a
        color #00a98c

  .post-body
    margin-bottom 30px

.time-container
  color #aaa
  .time-label
    margin-right 0.5em
