.gallery-image
  width 100%
  text-align center

  padding 10px
  box-shadow inset 0 0 10px #ccc

.content
  .title
    font-size 3.2em
    a
      text-decoration none
      border none

      &:visited
        color #40d9bc
    &:hover
      a
        color #00a98c
  .content-wrapper
    margin-bottom 20px
  .post-body
    margin-bottom 30px

.time-container
  color #aaa
  .time-label
    margin-right 0.5em

.tags
  margin-bottom 10px
