.gallery-image
  width 100%
  text-align center

  padding 10px
  box-shadow inset 0 0 10px #ccc

.section
  padding 20px

.content
  max-height 50em
  overflow hidden

  .content-wrapper
    margin-bottom 20px

  .post-body
    margin-bottom 30px

  .richtext-image
    &.right
      float right

  .title
    height 1.5em
    font-size 2.4em
    border-bottom 1px solid #ddd

    a
      text-decoration none
      border none

      &:visited
        color #40d9bc
    &:hover
      a
        color #00a98c


.time-container
  color #aaa
  .time-label
    margin-right 0.5em

.tags
  margin-bottom 10px

  .tag
    a
      text-indent 4px

