{% load wagtailcore_tags wagtailimages_tags compress static %}

{% compress css inline %}
  <link rel="stylesheet" type="text/stylus" href="{% static 'styles/post.styl' %}"/>
{% endcompress %}

{% for post in posts %}
  <section class="section content">
    <div class="container">
      <div class="heading">
        <h1 class="title">
          <a href="{% pageurl post %}">{{ post.title }}</a>
        </h1>
        <div class="tag-container">
          {% for name in post.tag_names %}
          <span class="tag is-primary">
            <a href="">{{ name }}</a>
          </span>
          {% endfor %}
        </div>
        <h2 class="subtitle">
          {{ post.intro }}
        </h2>

        {% with post.gallery_images.first as img %}
          <figure class="gallery-image">
            {% image img.image original as orig_img %}
            {% image img.image height-250 as thumb %}
            <a href="{{ orig_img.url }}"><img {{ thumb.attrs }} /></a>
            {% if img.caption %}
              <figcaption>{{ img.caption }}</figcaption>
            {% endif %}
          </figure>
        {% endwith %}

        {{ post.body | richtext }}
      </div>
    </div>
  </section>
{% endfor %}
