{% extends "posts/_base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content_body %}
  <div class="gallery">
    {% for img in page.gallery_images.all %}
      <figure class="gallery-image">
        {% image img.image original as orig_img %}
        {% image img.image height-250 as thumb %}
        <a href="{{ orig_img.url }}"><img {{ thumb.attrs }} /></a>
        {% if img.caption %}
          <figcaption>{{ img.caption }}</figcaption>
        {% endif %}
      </figure>
    {% endfor %}
  </div>
{% endblock %}
