{% extends "posts/_base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content_body %}
  <div class="gallery">

    {% for chunk in page.gallery_chunks %}
      <div class="columns">
        {% for img in chunk %}
          <div class="column is-one-quarter">
            <figure class="gallery-image">
              {% image img.image original as orig_img %}
              {% image img.image height-250 as thumb %}
              <a class="" href="{% url 'show_image' img.image.id %}"><img {{ thumb.attrs }} /></a>
              {% if img.caption %}
                <figcaption>{{ img.caption }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  </div>
{% endblock %}
