{% extends "posts/_base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content_body %}
  <div class="gallery">

    <div class="columns">
      {% for chunk in page.gallery_chunks %}
        <div class="column">
          {% for img in chunk %}
            <div class="box is-one-quarter">
              <figure class="gallery-image">
                {% image img.image original as orig_img %}
                {% image img.image height-250 as thumb %}
                <a href="{{ orig_img.url }}"><img {{ thumb.attrs }} /></a>
                {% if img.caption %}
                  <figcaption>{{ img.caption }}</figcaption>
                {% endif %}
              </figure>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
